<p>sample-form works!</p>

<form [formGroup]="bookForm" (ngSubmit) = "onSubmit()" >

<div>
    <label for="title"> Title</label>
    <input id="title" type="text" formControlName="title">
</div>
<div>
    <label for="year_written"> Year Written</label>
    <input id="year_written" type="number" formControlName="year_written">
</div>

<button type="submit" [disabled]= "!bookForm.valid" >Submit</button>

<div *ngIf="title.invalid && title.touched"  class="alert alert-danger" >
    Title is required and must be more than 3 characters
</div>
<div *ngIf="year_written.invalid && year_written.touched"  class="alert alert-danger" >
    Year Written is required and must be 2024 or earlier
</div>


</form>