<h1>Una's Lovely App
</h1>

<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" >
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" routerLink="/books" routerLinkActive="active">Books</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
        <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        <a class="nav-item nav-link" routerLink="/register" routerLinkActive="active">Register</a>
      
        </div>
</nav>

<div *ngIf="user">{{user.firstName}}</div>

<!-- main app container -->
<div class="container pt-4">
    <router-outlet></router-outlet>
</div>



<router-outlet></router-outlet>

